:root {
  --pastel1: #e0f5b9;
  --pastel2: #c6f1d6;
  --pastel3: #ffba92;
  --pastel-darker: #ff8080;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Roboto", sans-serif;
  font-family: "Fira Code", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Darker Grotesque", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
.main-container {
  margin: 10px 30px;
}
.main-title {
  font-family: "Fira Code", monospace;
  font-size: 1.4rem;
}
.logoImg {
  width: 100px;
  margin: auto;
  display: block;
}
#articles {
  text-align: center;
}
.articles-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin-top: 10px;
}
/* Individual articles */
.article {
  /* padding: 10px 0;  */
  margin: 20px 150px;
  padding: 10px;
  background-color: var(--pastel1);
  border: 1px solid var(--pastel2);
}
.articleTitle {
  font-family: "Fira Code", monospace;
  font-size: 2rem;
}
.artcleDescription {
  font-size: 1.4rem;
}
.articleDetails {
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  margin-top: 5px;
}
.articleDetails > p {
  margin-bottom: 10px;
}
.article-content {
  font-size: 1rem;
}
/* End of individual articles */
/* Search Bar */
.defaultNewsBtn,
.search-btn {
  padding: 10px;
  background-color: var(--pastel3);
  border-radius: 20px;
}
.search-input {
  padding: 5px 10px;
}
.btn-container {
  margin: 20px 0;
}
/* End of search bar */
